:root {
  --color-grey: #808080;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 3px solid rgb(232, 232, 232);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 50px;
  height: 50px;
}

.logo-container h1 {
  margin-left: 10px;
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.mission-constainer {
  padding: 1em;
}

table {
  border-collapse: collapse;
  margin: auto;
  margin-top: 2em;
}

.mission-description {
  max-width: 800px;
}

tr {
  width: 33%;
}

tbody tr:nth-child(odd) {
  background: #e6e6e6;
}

th,
td {
  text-align: left;
  border: 1px solid var(--color-grey);
  padding: 0.5em;
}

td.mission-status {
  text-align: center;
}

.mission-status_active {
  padding: 0.2em 0.5em;
  color: var(--color-white);
  background: #009d9d;
  border-radius: 4px;
}

.mission-status_inactive {
  padding: 0.2em 0.5em;
  color: var(--color-white);
  background: var(--color-grey);
  border-radius: 4px;
}

.mission-status_button {
  background: transparent;
  padding: 0.5em;
  border-radius: 4px;
}

.mission-status_join {
  border-color: var(--color-grey);
}

.mission-status_leave {
  border-color: #ff7b7b;
  color: #ff7b7b;
}
