:root {
  --color-grey: #808080;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 3px solid rgb(232, 232, 232);
  margin-bottom: 12px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 52px;
  height: 52px;
}

.logo-container h1 {
  margin-left: 10px;
  font-size: 30px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 1em;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: #0290ff;
  padding: 0.2em;
}

nav ul li a:active
nav ul li a:focus,
nav ul li a:hover {
  border-bottom: 1px solid #0290ff;
}

nav ul li:nth-last-child(1) {
  padding-left: 1.2em;
  border-left: 1px solid #969595;
}
