.roc-container {
  display: flex;
  flex-wrap: wrap;
}

.roc-card {
  display: flex;
  align-items: center;
  margin: 7px 40px;
  padding: 0 20px;
  border-radius: 8px;
  background-color: #fff;
  width: 100%;
}

.roc-image-container {
  max-width: 280px;
  max-height: 220px;
  margin-right: 22px;
}

.roc-image {
  max-width: 100%;
  max-height: 100%;
}

.roc-info {
  flex: 1;
}

.roc-title {
  width: 100%;
  font-size: 22px;
  margin-bottom: 10px;
}

.reserved-badge {
  color: rgb(232, 232, 232);
  background-color: hsl(191, 77%, 39%);
  font-size: 16px;
  padding: 5px;
  border-radius: 4px;
  margin-right: 10px;
}

.roc-info p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 17px;
}

.reserve-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(2, 144, 255);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reserve-button:hover {
  background-color: #130c99;
}

.cancel-reservation-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  color: rgb(152, 151, 151);
  cursor: pointer;
  border-radius: 0.25rem;
  border: 1px solid rgb(152, 151, 151);
  transition: background-color 0.3s ease;
}

.cancel-reservation-button:hover {
  background-color: #c70000;
}
